Options -Indexes

#<IfModule mod_fcgid.c>
#   AddHandler fcgid-script .php
#   FcgidWrapper /home/[CPANEL_USER_NAME]/php5.fcgi .php
#</IfModule>

#<IfModule mod_env.c>
#        SetEnv PHPRC /home/CPANEL_NAME/php.ini
#</IfModule>

RewriteEngine on

#<If "%{HTTP_HOST} == 'distincta.dev'">
#    Redirect 301 "/" "http://www.distincta.dev/"
#</If>

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule (.*) https://www.sintodental.bg%{REQUEST_URI} [R=301,L]
