    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              Свържете се с нас
            </h1>
            <p class="text-white link-nav"><a href="index.html">Начало </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Свържете се с нас</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start contact-page Area -->
    <section class="contact-page-area section-gap">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="map-wrap"><iframe width="100" height="100" src="https://www.openstreetmap.org/export/embed.html?bbox=23.33097249269486%2C42.64807600999233%2C23.334513008594516%2C42.64977460390895&amp;layer=mapnik&amp;marker=42.64892432634111%2C23.332742750644684"></iframe><br/><small><a rel="nofollow" href="https://www.openstreetmap.org/?mlat=42.64892&amp;mlon=23.33274#map=19/42.64893/23.33274">View Larger Map</a></small></div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 d-flex flex-column address-wrap">
            <div class="single-contact-address d-flex flex-row align-items-center">
              <div class="icon">
                <span class="lnr lnr-home"></span>
              </div>
              <div class="contact-details">
                <h5>ул. Eмануил Попдимитров 1, кв. Витоша</h5>
                <p>София, България, 1700</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex flex-column address-wrap">
            <a href="tel:+359887810838">
              <div class="single-contact-address d-flex flex-row align-items-center">
                <div class="icon">
                  <span class="lnr lnr-phone-handset"></span>
                </div>
                <div class="contact-details">
                  <h5>0887 810 838</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 d-flex flex-column address-wrap">
            <a href="mailto:sintodental@abv.bg">
              <div class="single-contact-address d-flex flex-row align-items-center">
                <div class="icon">
                  <span class="lnr lnr-envelope"></span>
                </div>
                <div class="contact-details">
                  <h5>sintodental@abv.bg</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 d-flex flex-column address-wrap">
            <a href="https://superdoc.bg/lekar/ivelina-georgieva" target="_blank" rel="noopener">
              <div class="single-contact-address d-flex flex-row align-items-center">
                <div class="icon">
                  <span class="lnr lnr-calendar-full"></span>
                </div>
                <div class="contact-details">
                  <h5>Запази час онлайн</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End contact-page Area -->
