    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              ПОЛИТИКА ЗА ИЗПОЛЗВАНЕ НА БИСКВИТКИ
            </h1>
            <p class="text-white link-nav"><a href="/">Начало</a>  <span class="lnr lnr-arrow-right"></span>  <a href="cookie-policy.html"> Политика за използване на бисквитки</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start Sample Area -->
    <section class="sample-text-area">
      <div class="container">
        <h3 class="text-heading">Какво представляват "бисквитките"?</h3>
        <p>"Бисквиткa" се нарича малък текстов файл, която се съхранява на вашия компютър или мобилно устройство. Тя се създава, когато посещавате уеб сайт или приложения. Целта на тази бисквитка е да съхрани информация за посещението, като предпочитан език и други настройки. Чрез тази записана информация с всяко следващо посещение, вашият уеб браузър (напр.Google Chrome, Mozilla Firefox, Internet Explorer или Safari) ще изпрати тази "бисквитка" обратно на уеб сайта или приложението и то ще разпознае вас с посочените лични данни и избраните предпочитания от предишно посещение.</p>
        <p>"Бисквитките" са много полезни и изпълняват множество задачи. Те помагат за подобряването на използваемостта на нашия уеб сайт, като го адаптират към вашите нужди. Те запазват вашите предпочитания и подобряват цялостното потребителско преживяване.</p>
        <div>
          <p>Има два вида бисквитки:</p>
          <ul class="unordered-list">
            <li>
              Бисквитки за сесия
              <p>Те съществуват само за продължението на вашата онлайн сесия и след това изчезват от вашия компютър или устройство, когато затворите вашия уеб браузър.</p>
            </li>
            <li>
              Постоянни бисквитки
              <p>Те остават на вашия компютър или устройство, след като вашият уеб браузър е бил затворен и съществуват за периода от време, посочен в бисквитката. Тези постоянни бисквитки ще бъдат активирани всеки път, когато посетите уеб страницата, за която е била създадена бисквитката.</p>
        </div>
      </div>
      <div class="container">
        <h3 class="text-heading">За какво използваме "бисквитки"?</h3>
        <div>
          <p>Ние използваме "бисквитки" на нашия уеб сайт, за да подобрим тяхната използваемост, както и да съберем и запазим данни за маркетингови и оптимизационни цели. Нашите бисквитки не съдържат никакви данни за вас, те са анонимни.</p>
          <p>Ние не продаваме данните, събрани от нашите бисквитки, нито препредаваме тази информация на трети страни, освен ако законът не изисква това от нас (например на национални власти или законови представители).</p>
          <p>Използвайки нашия уеб сайт, вие се съгласявате с нашата политика за употреба на бисквитки, както е описана в този документ.</p>
          <p>Можете да оттеглите това разрешение по всяко време като промените настройката на вашия браузър. Вие можете да зададете настройките във вашия браузър така, че или да бъдете запитвани за разрешение всеки път, когато бисквитка се опитва до осъществи достъп до вашето устройство, или така, че употребата на бисквитки да е деактивирана в определени случаи или напълно.</p>
        </div>
      </div>
      <div class="container">
        <h3 class="text-heading">Видове "бисквитки", които използваме:</h3>
          <ul class="unordered-list">
            <li>
              Функционални бисквитки
              <p>Тези бисквитки позволяват на уеб сайтa да запомни избраните от вас предпочитания. Те ни позволяват да ви предложим подобрени и персонализирани функции. Ние не можем да ви идентифицираме лично с помощта на информацията, събрана от тези бисквитки.</p>
            </li>
            <li>
              Аналитични бисквитки
              <p>За да гарантираме, че нашият уеб сайт е лесен за употреба и обновяване, ние използваме услугата за уеб анализ Google Analytics, за да разберем, как потребителите използват нашият уеб сайт. Това ни позволява да видим например, кое съдържание на нашия уеб сайт е най-популярно, и също да гарантираме, че нашето съдържание непрекъснато се обновява и подобрява. Информацията, която събираме, е анонимна и се използва само за статистически цели.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <h3 class="text-heading">Google Analytics</h3>
        <div>
          <p>Нашият уеб сайт използва Google Analytics, услуга за уеб анализ, предоставена от фирма <a rel="nofollow" href="https://about.google/" target="_blank">Google Inc.</a>, с адрес на основния офис: 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, която за по-кратко ще наричаме "Google".</p>
          <p>Google Analytics използва "бисквитки", за да помогa уеб сайт да анализира как потребителите го използват. Информацията, генерирана от бисквитката относно вашата употреба на нашия уеб сайт (включително вашия IP адрес), ще бъде прехвърлена и съхранявана от Google. Google ще използва тази информация от ваше име с цел оценяване на вашето използване на нашия уеб сайт, чрез създаване на доклади за дейността на уеб сайта, и ще ни предостави други услуги, свързани с използването на нашия уеб сайт.</p>
          <p>Като използвате този уеб сайт, вие се съгласявате на обработката на данни, събрани от вас от Google. Вие можете да откажете използването на бисквитки като изберете подходящите настройки във вашия уеб браузър. Вие също можете да блокирате събирането на данни от страна на бисквитките относно вашето използване на нашия уеб сайт, както и обработката на тези данни от Google, като изтеглите и инсталирате добавката за браузър, намираща се на следния линк: <a rel="nofollow" href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">www.tools.google.com</a>.</p>
          <p>Като алтернатива на добавката за браузър, вие можете да кликнете върху този линк, за да изберете да не бъдете проследявани от Google Analytics в рамките на този уеб сайт в бъдеще (изборът се отнася само за браузъра, в който сте го направили, и в рамките на този домейн). Бисквитка за избора на отказ ще бъде съхранена във вашето устройство, което означава, че ще трябва да кликнете върху този линк отново, ако изтриете вашите бисквитки.</p>
          <p>Можете да намерите повече информация за потребителските разпоредби и защитата на лични данни на Google на следния линк: <a rel="nofollow" href="https://policies.google.com/technologies/partner-sites?hl=bg" target="_blank">policies.google.com/technologies/partner-sites?hl=bg</a></p>
        </div>
      </div>
    </section>
    <!-- End Sample Area -->
