    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              Галерия
            </h1>
            <p class="text-white link-nav"><a href="index.html">Начало </a>  <span class="lnr lnr-arrow-right"></span>  <a href="gallery.html"> Галерия</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start Gallery Area -->
    <div class="whole-wrap">
      <div class="container">
        <div class="section-top-border">
          <div class="row gallery-item">
            <div class="col-md-4">
              <a href="img/gallery/pic01.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/gallery/pic01.jpg);"></div></a>
            </div>
            <div class="col-md-4">
              <a href="img/gallery/pic02.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/gallery/pic02.jpg);"></div></a>
            </div>
            <div class="col-md-4">
              <a href="img/gallery/pic03.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/gallery/pic03.jpg);"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Gallery Area -->
