    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row fullscreen d-flex justify-content-center align-items-center">
          <div class="banner-content col-lg-9 col-md-12 justify-content-center">
            <h6 class="text-uppercase">Дентална практика</h6>
            <h1>Синтодентал</h1>
            <p class="text-white mx-auto">
              Предлагаме професионално дентално лечение и грижовен подход към всеки пациент.
            </p>
            <a href="contact.html" class="primary-btn header-btn text-uppercase mt-10">Свържете се с нас</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start open-hour Area -->
    <section class="open-hour-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 open-hour-wrap">
            <h1>Добре дошли!</h1>
            <p>
              Първи приоритет е компетентното и професионално обслужване, изработването на индивидуален лечебен план, както и лечение, отговарящо на съвременните стандарти в денталната медицина. В практиката се употребява модерна техника, съобразена с изискванията за хигиена и безопасност в денталната медицина.
            </p>
            <!--a class="open-btn" href="contact.html"> <span class="circle"></span>Работим в момента</a-->
            <div class="date-list d-flex flex-row justify-content-center">
              <ul class="colm-1">
                <li>Понеделник</li>
                <li>Вторник</li>
                <li>Сряда</li>
                <li>Четвъртък</li>
                <li>Петък</li>
                <li>Събота и</li>
                <li>неделя</li>
              </ul>
              <ul class="colm-2">
                <li><span>:</span> 9:00 - 13:00</li>
                <li><span>:</span> 15:00 - 18:00</li>
                <li><span>:</span> 9:00 - 13:00</li>
                <li><span>:</span> 15:00 - 18:00</li>
                <li><span>:</span> 9:00 - 13:00</li>
                <li><span>:</span> С предварително</li>
                <li><span>&nbsp;</span>записан час</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End open-hour Area -->
