    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">Ценоразпис</h1>
            <p class="text-white link-nav"><a href="index.html">Начало</a>  <span class="lnr lnr-arrow-right"></span>  <a href="pricing.html"> Ценоразпис</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start price Area -->
    <section class="price-area section-gap" id="offers">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Най-добрите цени за вас</h1>
              <h3>Кабинетът работи с НЗОК</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="single-price no-padding">
              <div class="price-top">
                <h4>Преглед</h4>
              </div>
              <ul class="lists">
                <li>Обстоен преглед</li>
                <li>Установяване на орален статус</li>
                <li>Изготвяне на план на лечение</li>
              </ul>
              <div class="price-bottom">
                <div class="price-wrap d-flex flex-row justify-content-center align-items-end">
                  <span class="price price-value"> 20 </span><span class="price price-currency">лв.</span>
                </div>
                <a href="contact.html" class="primary-btn header-btn">Свържете се с нас</a>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-price no-padding">
              <div class="price-top">
                <h4>Комбиниран пакет</h4>
              </div>
              <ul class="lists">
                <li>Обстоен преглед</li>
                <li>Установяване на орален статус</li>
                <li>Изготвяне на план на лечение</li>
                <li>Почистване на зъбен камък със скалер</li>
                <li>Полиране</li>
              </ul>
              <div class="price-bottom">
                <div class="price-wrap d-flex flex-row justify-content-center align-items-end">
                  <span class="price price-value"> 40 </span><span class="price price-currency">лв.</span>
                </div>
                <a href="contact.html" class="primary-btn header-btn">Свържете се с нас</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-price no-padding">
              <div class="price-top">
                <h4>Избелване</h4>
              </div>
              <ul class="lists">
                <li>Кабинетно избелване</li>
                <li>Времетраене - 40мин.</li>
              </ul>
              <div class="price-bottom">
                <div class="price-wrap d-flex flex-row justify-content-center align-items-end">
                  <span class="price price-value">130</span><span class="price price-currency">лв.</span>
                </div>
                <a href="contact.html" class="primary-btn header-btn">Свържете се с нас</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End price Area -->

    <!-- Start adult price list Area -->
    <section class="odd-area section-gap" id="pricing_dentist">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Ценоразпис - Стоматология</h1>
              <p>Списък с всички предлагани услуги и техните цени</p>
            </div>
          </div>
          <div class="progress-table-wrap">
            <div class="progress-table">
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Анестезия:</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">интраорална проводна</div>
                  <div class="price">19.60лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">инфилтрационна</div>
                  <div class="price">14лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">интралигаментарна</div>
                  <div class="price">19лв.</div>
                </div>
              </div>
              <div class="table-row space-between">
                <div class="service">Почистване на зъбен камък за всеки зъб, вкл. терапевтичен кюретаж на пародонта</div>
                <div class="price">6.48лв.</div>
              </div>
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Избелване на зъби:</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">кабинетно 40 мин. с Whiteness HP MAXX</div>
                  <div class="price">160лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">домашно избелване</div>
                  <div class="price">180лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">вътрекавитетно избелване надевитализиран зъб</div>
                  <div class="price">70лв.</div>
                </div>
              </div>
              <div class="table-row space-between">
                <div class="service">Поставяне на камъче на зъб</div>
                <div class="price">50лв.</div>
              </div>
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Пломба</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">с фотополимер</div>
                  <div class="price">70 - 90лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">с гласйономер</div>
                  <div class="price">35 - 45лв.</div>
                </div>
              </div>
              <div class="table-row space-between">
                <div class="service">Медикаментозна вложка</div>
                <div class="price">15лв.</div>
              </div>
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Изграждане на пънче:</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">с фиброщифт</div>
                  <div class="price">90лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">с анкер щифт</div>
                  <div class="price">70лв.</div>
                </div>
              </div>
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Кореново лечение:</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">на еднокоренов зъб</div>
                  <div class="price">75-95лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">на многокоренов зъб</div>
                  <div class="price">110 - 130лв.</div>
                </div>
              </div>
              <div class="table-row space-between">
                <div class="service">Релечение</div>
                <div class="price">130лв.</div>
              </div>
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Екстракция на зъб:</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">на еднокоренов зъб</div>
                  <div class="price">60лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">на многокоренов зъб</div>
                  <div class="price">80лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">на дълбокофрактуриран зъб</div>
                  <div class="price">100лв.</div>
                </div>
              </div>
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Корона:</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">бленд корона</div>
                  <div class="price">110лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">металокерамична корона</div>
                  <div class="price">200лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">изцялокерамична корона</div>
                  <div class="price">450лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">циркониева корона</div>
                  <div class="price">450лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">пластмасова корона</div>
                  <div class="price">40лв.</div>
                </div>
              </div>
              <div class="table-row space-between">
                <div class="service">Сваляне на коронка</div>
                <div class="price">20лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Циментиране на коронка</div>
                <div class="price">15лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Фасети</div>
                <div class="price">450лв.</div>
              </div>
              <div class="table-row table-multi-row">
                <div class="table-row space-between">
                  <div class="service">Протеза:</div>
                  <div class="price"></div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">плакова протеза</div>
                  <div class="price">200лв.</div>
                </div>
                <div class="table-row sub-row space-between">
                  <div class="service">лята протеза</div>
                  <div class="price">400-600лв.</div>
                </div>
              </div>
              <div class="table-row space-between">
                <div class="service">Пинлей, овърлей</div>
                <div class="price">60 - 80лв.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End adult price list Area -->

    <!-- Start children price list Area -->
    <section class="even-area section-gap" id="pricing_children_dentist">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Ценоразпис - Детска стоматология</h1>
              <p>Списък с всички предлагани услуги и техните цени</p>
            </div>
          </div>
          <div class="progress-table-wrap">
            <div class="progress-table">
              <div class="table-row space-between">
                <div class="service">Преглед</div>
                <div class="price">5лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Пломба с гласйономер</div>
                <div class="price">40лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Лечение на пулпит или периодонтит на временен зъб</div>
                <div class="price">60лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Екстракция на временен зъб</div>
                <div class="price">15лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Силанизиране</div>
                <div class="price">30лв.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End children price list Area -->

    <!-- Start physiotherapy price list Area -->
    <section class="odd-area section-gap" id="pricing_physiotherapy">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Ценоразпис - Физиотерапия</h1>
              <p>Списък с всички предлагани услуги и техните цени</p>
            </div>
          </div>
          <div class="progress-table-wrap">
            <div class="progress-table">
              <div class="table-row space-between">
                <div class="service">Йонофореза на коренови канали</div>
                <div class="price">10лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Лазерна терапия (на поле)</div>
                <div class="price">10лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Йонофореза на лекарствени средства</div>
                <div class="price">15-20лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">ЕОД</div>
                <div class="price">15лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Тест на Гален</div>
                <div class="price">15лв.</div>
              </div>
              <div class="table-row space-between">
                <div class="service">Aпекслокация</div>
                <div class="price">22лв.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End physiotherapy price list Area -->
